body {
  background-color: rgb(220, 234, 252);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.weather-app {
  background-color: rgb(139, 179, 233);
  max-width: 700px;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(36, 49, 133, 0.6);
  padding: 20px;
}
.search-form-input {
  background-color: rgb(247, 237, 243);
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 12px 15px;
  font-size: 14px;
}

.search-form-button {
  background-color: rgb(55, 122, 209);
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  color: rgb(247, 237, 243);
  margin-left: 5px;
  font-size: 14px;
}
.search-form-button:hover {
  background-color: rgb(22, 78, 151);
  transition: ease-in-out;
  cursor: pointer;
}

main {
  padding-bottom: 10px;
}
h1,
.current-date-time,
.current-temp,
.current-weather-type {
  text-align: center;
}
h1 {
  margin-block-end: 10px;
  color: rgb(8, 54, 114);
  font-size: 35px;
}
.current-date-time {
  font-size: 25px;
  color: rgb(19, 71, 138);
  padding-bottom: 10px;
}
img {
  vertical-align: middle;
}

.current-temp {
  font-size: 50px;
  color: rgb(8, 54, 114);
  font-weight: 600;
  margin: auto;
}
.current-weather-type,
.current-humidity,
.current-wind {
  color: rgb(8, 54, 114);
  font-size: 18px;
}
.weather-app-data strong {
  color: rgb(23, 87, 170);
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.column {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.weather-forecast-date {
  font-size: 20px;
  color: rgb(8, 54, 114);
  font-weight: bolder;
  text-align: center;
}

.weather-forecast-temperature {
  font-size: larger;
  font-weight: bolder;
  color: rgb(8, 54, 114);
  text-align: center;
}

.weather-forecast-temperature-min {
  opacity: 0.8;
}

footer {
  border-top: 1px solid rgb(55, 122, 209);
  padding-top: 10px;
  text-align: center;
  font-size: 11px;
  color: rgb(21, 77, 150);
  font-weight: 500;
}
a {
  color: rgb(8, 54, 114);
}
